

  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



*{
  font-family: 'Press Start 2P', cursive;
}
section {
  text-align: center;

}
button {
  size: 10px;
}
body{
  background-image: url("/public/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  background: -webkit-linear-gradient(#f15d6bfe, #5b051d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button{
  background-color: rgb(250, 159, 199);
  font-size: 30px;
  margin: 30px;
  padding: 25px;
  box-shadow: 2px 3px rgba(253, 93, 112, 0.993);
  color:rgb(221, 67, 110);

} 

button:hover{
  background-color:rgb(255, 127, 163);
  font-weight: 200;
  color: white;
}

p {
  font-size: 90px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 1000;
  color: rgb(169, 42, 63);
  background: -webkit-linear-gradient(#f15d6bfe, #5b051d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}